.vBox{
    background:url('../img/live_bg.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  .v-leftvideoBox{
    display: flex;
  }
  .v-leftVideo{
    display: flex;
    width: 900px;
    max-width: 900px;
    height: 600px;
  }
  .v-leftVideo video{
    width: 100%;
    height: 100%;
  }
  .v-rightTuijian{
    margin-top: 50px;
    background: #ffffffa4;
    color: black;
    width: 400px;
    height: 550px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
  }
 
  .v-rightTuijian::-webkit-scrollbar{
    display: none;
} 
.m-v-tuiTitle{
  background: linear-gradient(to right,#2184cb,#2db1ba);
  width: 80%;
  height: 35px;
  padding: 5px;
  color: white;
  text-align: center;
}






.v-rightVbottom{
  display: flex;
  /* background-color: blanchedalmond; */
}
.v-rightVbottom div{
  margin: 5px 10px;
  padding: 5px 10px;
  cursor: pointer;
}
.v-icon{
  display: flex;
  color: #81e3e8;
}
.vicon{
  margin-right: 10px;
}
.v-icon.blue{
  color: black;
}

.timeline {
  width: 100%;
  max-width: 800px;
  /* background: #fff; */
  padding: 100px 50px;
  position: relative;
 
}
.timeline:before {
  content: '';
  position: absolute;
  top: 0px;
  left: calc(33% + 15px);
  bottom: 0px;
  width: 4px;
  /* #ddd */
  background:#2db1ba;
}
.timeline:after {
  content: "";
  display: table;
  clear: both;
}
.entry {
  clear: both;
  text-align: left;
  position: relative;
}
.entry .title {
  margin-bottom: .5em;
  float: left;
  width: 33%;
  padding-right: 30px;
  text-align: right;
  position: relative;
}
.entry .title:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid salmon;
  background-color: #fff;
  border-radius: 100%;
  top: 15%;
  right: -8px;
  z-index: 99;
}
.entry .title h3 {
  margin: 0;
  font-size: 120%;
}
.entry .title p {
  margin: 0;
  font-size: 100%;
}
.entry .body {
  margin: 0 0 3em;
  float: right;
  width: 66%;
  padding-left: 30px;
}
.entry .body p {
  line-height: 1.4em;
}
.entry .body p:first-child {
  margin-top: 0;
  font-weight: 400;
}
.entry .body ul {
  color: #aaa;
  padding-left: 0;
  list-style-type: none;
}
.entry .body ul li:before {
  content: "-";
  margin-right: .5em;
}