.acBox *, .acBox *::before, .acBox *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
.acBox{
    box-sizing: border-box;
    font-size: 62.5%;

    padding-top: 60px;
    background: url('../ac/photo-bg.avif') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.actitle{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 100px;
    color: #fff;
    font-size: 30px;
    -webkit-box-reflect:below 0 -webkit-linear-gradient(transparent,transparent 50%,rgba(255,255,255,.5));  
}
.acSort{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 100px;
    color: #fff;
    font-size: 20px;
    margin: 5px;
    -webkit-box-reflect:below 0 -webkit-linear-gradient(transparent,transparent 50%,rgba(255,255,255,.5));     
    transition: all .5s ease-in-out;
}
.acSort span{
    margin: 5px;
}
.acSort span.active{
   color: #2db1ba;
}
.acSort span:hover{
    color: #2db1ba;
 }
.ac-container {
    margin: 0 auto;
    /* width: 90%; */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 6rem;
    /* background-color: #f5f5f5; */
    /* font-family: "Inter", sans-serif; */
}

@media (max-width: 60em) {
    .ac-container {
        padding: 3rem;
    }
}
.ac-container .grid {
    display: grid;
    /* 114 */
    width: 114rem;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
@media (max-width: 60em) {
    .ac-container .grid {
        grid-gap: 3rem;
    }
}
.ac-container .grid .card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: .4rem;
    overflow: hidden;
    box-shadow: 0 0 1.8rem -0.2rem rgb(132, 209, 253);
    /* box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1); */
    /* cursor: pointer; */
    transition: 0.2s;
}
.ac-container .grid .card:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 0 1.8rem -0.2rem rgb(132, 209, 253);
    /* box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2); */
}
.ac-container .grid .card__img {
    display: block;
    width: 100%;
    height: 14rem;
    object-fit: cover;
}
.ac-container .grid .card__content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: .5rem;
    height: 100%;
}
.ac-container .grid .card__header {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: #0d0d0d;
}
.ac-icon{
    color: #2db1ba;
}
.ac-d-icon{
    color: orange;
    cursor: pointer;
}
.ac-container .grid .card__text {
    font-size: 1rem;
    letter-spacing: .1rem;
    line-height: 1.7;
    color: #3d3d3d;
    /* margin-bottom: 20px; */
    padding-left: 20px;
    padding-right: 20px;
}
.ac-container .grid .card__btn {
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    color: #3363ff;
    background-color: #e6ecff;
    border: none;
    border-radius: .4rem;
    transition: 0.2s;
    cursor: pointer;
}
.ac-container .grid .card__btn span {
    margin-left: 1rem;
    transition: 0.2s;
}
.ac-container .grid .card__btn:hover, .grid .card__btn:active {
    background-color: #dce4ff;
}
.ac-container .grid .card__btn:hover span, .grid .card__btn:active span {
    margin-left: 1.5rem;
}
