*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  html{
    scroll-behavior: smooth;
  }

 


body{
    line-height: 1.6;
    color: white;
    overflow: hidden;
}
body.loaded { overflow: visible; }
body::-webkit-scrollbar{
    display: none;
} 
 
/* ==============screen silder =========*/
.container{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.slide{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black; 
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
   background-attachment: fixed;
}
.slide.current{
    opacity: 1;
}
/* 图片设置 */
.slide:first-child{
    background: url("../img/8643851.jpg") no-repeat center center/cover;
}
/* .slide:first-child::before{
      首页动画
} */
.slide:nth-child(2){
    background: url('../img/myUeImg.png') no-repeat center center/cover;
}
.slide:nth-child(3){
    background: url('../img/peak.jpg') no-repeat center center/cover;
}

/* 文本框 */
.slide .content{
    position: absolute;
    bottom: 70px;
    width: 600px;
    opacity: 0;
    background: rgba(255,255, 255, 0.8);
    color: black;
    padding: 35px;
}
.slide .content h1{
    margin-bottom: 10px;
}
 
/* 过渡和转换好像不大行 所以我采用动画*/
 
.slide.current .content{
    opacity: 1;
    animation-name: contents;
    animation-duration: 2s;
}
/* 动画 */
@keyframes contents {
    from{
        opacity: 0;
        transform: translateX(-600px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.buttons button#prev{
    position: absolute;
    top: 50%;
    left: 15px;
}
.buttons button#next{
    position: absolute;
    top: 50%;
    right: 15px;
}
.buttons button{
    /* color: #fff; */
    background-color: transparent;
    /* padding: 13px 15px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

/* 媒体要求*/
/* @media(max-width:500px) {
   内容样式设置
} */

/*  ============= header ============= */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
    z-index: 9;
    background-color: aliceblue;
  } 
  .nav {
    height: 3.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav__logo img{ 
    width: 200px;
  }  

  .nav__actions {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
.nav__login, 
.nav__toggle, 
.nav__close {
  font-size: 1.25rem;
  color: hsl(232, 37%, 73%);
  cursor: pointer;
  transition: color .4s;
}
.nav__login_text{
  color: hsl(232, 37%, 73%);
}
.nav__login_text.fade{
  display: none;
}
.nav__login_text a{
  color: hsl(232, 37%, 73%);
}
  .nav__list {
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    row-gap: 1.5rem; 
    text-align: center;
  }
  
  .nav__link {
    color: hsl(232, 37%, 73%);
    font-weight: 540;
    font-size: 1.1rem;
    position: relative;
  }
   .nav__link:before {
    content: '';
    height: 4px;
    background: linear-gradient(to right,#2184cb,#2db1ba);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: .3s;
}
.nav__link.active:before,.nav__link:hover:before {
    transform: scaleX(1);
}
  .nav__link.active , .nav__link:hover{
    color: #005aad;
  } 

  .nav__close {
    position: absolute;
    top: 1.15rem;
    right: 1.5rem;
  }
  .show-menu {
    top: 0;
  }

  @media screen and (max-width: 886px) {
    .nav{
        padding: 15px 0;
        justify-content: space-around;  
    } 
    .nav__logo {
      height: 40px;
      width: 35px;
      overflow: hidden;
    }  
    .nav__logo img{ 
      height: 40px;
      width: 35px;
     object-fit: contain;
     overflow: hidden;
    }     
  } 
  @media screen and (max-width: 1260px) {
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: #fff;
        box-shadow: 0 8px 16px hsla(230, 75%, 32%, .15);
        width: 100%;
        padding-block: 4.5rem 3rem; 
        transition: top .4s; 
    }
    .nav__menu.show-menu {
        top: 0;
      }
      .nav__logo img{ 
        width: 150px;
      } 
  }
  
  @media screen and (min-width: 1260px) {
    .nav {
      height: 5.5rem;
      column-gap: 3rem;
    }
    .nav__close, 
    .nav__toggle {
      display: none;
    }
    .nav__list {
      flex-direction: row;
      column-gap: 1.5rem;
    }
    .nav__actions{
        margin-right: 1.5rem;
    }
  }

  /* -============= rightBar ============== */
  .rightBarBox {
    font-family: "STKaiti";
    color: black;
    /* background-color: peachpuff; */
    position: fixed;
    right:10%;
    bottom: 20%;
    z-index: 13;
  } 
  .rightBar{
    opacity: 0;
    transition: all .9s;
  }
  .rightBar.show{
    opacity: 1;
    transition: all .9s;
  }
  @media screen and (max-width: 948px) {
    .rightBarBox {
      right:20%;
    }
  } 
  @media screen and (max-width: 419px) {
    .rightBarBox {
      right:30%;
    }
    .wxVisit:hover::before{
      position: absolute;
      top: -200px;
      right: 0;
      transform: translate(100%,100%);
    }
  } 
  .rightBar{
    position: relative;
  } 
  .rightBar-toggler{
    background: linear-gradient(to bottom,#519cd1b1,#58bbc2ac);
    box-shadow: rgba(149,157, 165, 0.2) 0px 8px 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    margin:auto;
    width:75px;
    height:75px;
    color: #2223277e;
    cursor:pointer;
    transition: 0.5s;
  } 
  .rightBar-toggler.active{
    transform: rotate(315deg);
    /* 等着把shadow改成透明的 */
    /* #fbfafa9b */
    box-shadow: 0 0 0 75px #fbfafa9b,
    0 0 0 85px #2db1ba4a;
    background: linear-gradient(to right,#2184cb,#2db1ba);
    color: white;
  } 
   .rightBar-item{
    position: absolute;
    width: 80px;
    height:70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    transition: .3s;
    z-index: 99;
   }
   .rightBar-ul{
    opacity: 0;
   }
   .rightBar-ul.active{
    opacity: 1;
   } 
   .rightBar-item  .bar-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #2184cb;
    margin: auto;
    font-size: 1.25rem;
   }
   .bar-text{
    display: flex;
    align-items: center;
    justify-content: center;
    clear: both;
   }
   .bar-text a{
    text-align: center;
    color: #2069dfae;
    font-weight: bold;
   }

  .rightBar li:nth-child(1){
    display:block;
    top: -90%;
  }
  .rightBar li:nth-child(2){
    display:block;
    right: -60%;
  }
  .rightBar li:nth-child(3){
    display:block;
    left: 110%;
    top: -10%;
  }
  .rightBar li:nth-child(4){
    display:block;
    top: -10%;
    left: -110%;
  }
  .rightBar li:nth-child(5){
    display:block;
    left: -60%;
  }
  .wxVisit:hover::before{
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 10px;
    left: -150%;
    position: absolute;
    background: url("https://img2023.gcsis.cn/2023/4/792c55535d6144fe874fc309b07d3ac9.jpg") no-repeat;
    box-shadow: rgba(149,157, 165, 0.2) 0px 8px 24px;
    background-size: cover;
  }
/* =============== preloader ========== */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left,#2184cb,#2db1ba);
  display: grid;
  place-items: center;
  z-index: 99;
}

.preloader.loaded { display: none; }

.preloader-circle {
  width: 60px;
  height: 60px;
  border: 8px solid transparent;
  border-block-color: hsl(0, 0%, 100%);
  /* 盒子上下边框着色 */
  border-radius: 50%;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% { transform: rotate(0); }
  /* 一直旋转 */
  100% { transform: rotate(1turn); }
}
